.in {
    padding: 10px 15px !important;
    text-decoration: none !important;
  }
  .in:active,
  .in:hover,
  .in {
    color: black !important;
  }
  .in:hover {
    outline: 2px rgba(8, 8, 8, 0.2) solid !important;
  }

  header {
    display: flex;
    padding: 3px !important;
    align-items: center;
  }
  header .title {
    flex-grow: 3 !important;
    text-align: right !important;
    margin-right: 30px !important;
    font-size: 0.6em !important;
  }
  
  header {
    width: 80px;
    overflow: visible;
    stroke: white ;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .navBar Button {
    background-color: #f3a26d;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .headerLinks {
    text-decoration: none !important;
    color: black !important;
    font-size: 1.5rem !important;
  }
  
.navLinks{
  background-color: #f3a26d;
}

  .btn {
    background-color: #f3a26d !important;
    font-family: "Source Serif 4", sans-serif !important;
    font-weight: 700 !important;
    border: 3px solid transparent !important;
    text-transform: uppercase !important;
    padding: 7px !important;
    font-size: 1.2rem !important;
    cursor: pointer;
  }
  .btn:hover {
    border-bottom: 3px solid black !important;
  }
  
  @media (max-width: 610px) {
    .HeaderSocial {
      font-size: 10px !important;
    }
  }
