#input-img
{
    width: 100px;
    height: 100px;
    opacity: 0;
   position: absolute;
   z-index: -1;
}
label{
    cursor: pointer;
}
/* .add-img-icon{
  text-align: center !important;
  display: inline-block;
} */